<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="box1">
            <h3>Springfield  Olympiads..</h3>
            <p> Springfield Olympiads is an Educational Organization popularizing academic competition and assisting the development of competitive spirit among learners.<br>
                <strong>WhatsApp:</strong>
                <a href="#">+91-62303045161</a><br>
                <strong>Email:</strong>
                <a href="#">info&#64;sfoly.com</a>
            </p>
        </div>
        <div class="box2">
            <h4>Useful Links</h4>
            <ul>
                <li>Home</li>
                <li>About us</li>
                <li>Student Registration</li>
                <li>Institute Registration</li>
                <li>FAQ's</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="box3">
            <h4>Our Olympiads</h4>
            <ul>
                <li>SISO</li>
                <li>SIMO</li>
                <li>SIEO</li>
                <li>SICO</li>
                <li>Grads Olympiad</li>
                <li>Finance Olympiad</li>
            </ul>
        </div>
        <div class="box4">
            <h4>Our Social Networks</h4>
            <div class="icons">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>
</body>
</html>
