<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <p>Copyright <b>Springfield Olympiads</b>.All Rights Reserved</p>
        <div class="pic">
            <img src="../../assets/iso.png" width="90px" height="34px"/>
            <img src="../../assets/appbank.png" width="300px" height="18px"/>
        </div>
    </div>
</body>
</html>
