<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="heading"><h1>Join Our Newsletter</h1></div>
        <div class="content"><p>Get the Olympiad updates and much more right in your inbox.</p></div>
        <div class="outer">
            <div class="inner">
                <div><input type="text" placeholder="Name(Optional)"/></div>
                <div><input type="text" placeholder="Email"/></div>

            </div>
            <div class="btn">
                <p>Subscribe</p>
            </div>
        </div>
    </div>
</body>
</html>