<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="right">
           <a href="#" ><img src="../../assets/gmail.png" width="20px" height="20px"> </a>
            <p>info64sfoly.com</p>
        </div>
        <div class="left">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
</div>
    </div>
    <div class="olympiads">
        <img src="../../assets/logo.png" width="50px" height="50px">
        <p>Springfield Olympiads</p>

    </div>
    <div class="reglabel">
        <div class="righ">
            <h2> Student Registration</h2>
        </div>
        <div class="lef">
            <div><p><a href="#">Home</a></p></div>
            <div>   <p>/</p></div>
         <div> <p>Student Registration</p></div>
           
        </div>
    </div>
</body>
</html>
